{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4 p-2">Blood Cell Segmentation</h1>
        <p>This app main purpose is just to make the work we have done on our computer vision module looks more useful.
          Being able to see result of the implementation of one of the most popular papers in biomedical image
          segmentation on the blood cells just by few clicks is one of the things we aim for to deliver a high quality
          project<br><br>
          <a href="https://github.com/imadtoubal/Pytorch-Flask-Docker-App"> View on GitHub</a>&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="/download"> Download the paper</a>
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="mb-2 col-md-6 offset-md-3">
      <form action="/infer" method="POST" enctype="multipart/form-data">
        <div class="input-group">
          <div class="custom-file">
            <input type="file" name="file" accept=".jpg, .jpeg, .png" class="custom-file-input" id="inputGroupFile"
              aria-describedby="inputGroupFileAddon04">
            <label class="custom-file-label" for="inputGroupFile">Choose file</label>
          </div>
          <div class="input-group-append">
            <input type="submit" value="Upload" class="btn btn-outline-secondary" type="button"
              id="inputGroupFileAddon04" />
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row p-5">
    <div class="col-12 text-center">
      <center>
        <p class="text-muted">
          This project is just prototype to show the work and it's not for public publishing 
        </p>
      </center>
    </div>
  </div>
</div>
{% endblock %}