{% extends 'base.html' %}

{% block content %}

<div class="container p-5">
    <div class="p-3"><center>
        <h3 class="text-muted">
          This is our page results where we can see our orignal image and the result of the U-Net Predection
        </h3>
      </center></div>
    <div class="row">
        <div class="col">
            <center>
            <div style="width: 350px;" class="card-header"><center><h4 class="card-title">Original Image</h4></center></div>
            <div class="original_image" >
                <img style="width: 350px; height: 350px;" src="{{ saveLocation }}" class="img-fluid" alt="...">
            </div>
        </center>
        </div>
        <div class="col">
            <center>
            <div style="width: 350px;" class="card-header"><center><h4 class="card-title">Output Image</h4></center></div>
            <div class="output_image" style="width: 350px;">
                <img style="width: 350px;height: 350px;" src="{{ output_image }}" class="img-fluid" alt="...">
            </div>
        </center>
        </div>
    </div>
</div>
{% endblock %}